@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ConfirmMail>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
    var currentLang = System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName;
}


    <title>Rezervist | @Model.Value("title")</title>

<section class="forgotPass-section" style="padding: 200px 0 100px">
    <div class="container">

        <h2 class="signIn-block__title signUp-block__title">@(TempData["Successful"] != null ? TempData["Successful"] : Model.Value("title"))</h2>
        @if (TempData["Successful"] == null)
        {
            <form name="data" method="post" action="@Url.Action("HandleActivationMail", "UmbracoIdentityAccount")">
                @Html.AntiForgeryToken()

                <input type="hidden" name="CurrentLang" value="@currentLang" />
                <input type="hidden" name="MemberKey" value="@Request.QueryString["MemberKey"]" />
                <input type="hidden" name="ActivationGuid" value="@Request.QueryString["ActivationGuid"]" />

                <div class="">
                    <script>
                        window.onload = function () {
                            document.forms['data'].submit();
                        }
                    </script>
                    <div class="" style="max-width: 500px; margin: 0 auto;">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        @if (TempData["ErrorMessage"] != null)
                        {
                            <span class="" style="margin-bottom: 20px; color: red; display: block;">@TempData["ErrorMessage"]</span>
                        }
                        else
                        {
                            <span class="" style="margin-bottom: 20px; color: greenyellow; display: block;">@TempData["Successful"]</span>            
                        }
                        @*<button type="submit" class="sign-btn signUp-btn">@Model.Value("submit")</button>*@
                    </div>
                </div>
            </form>
        }
    </div>
</section>